<nav id="sideNav" class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand text-white">
        <img src="assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> ICommerce
    </a>

    <div class="container-fluid">
        <div class="row w-100 menu">
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div (click)="navegar('seccion_0')" class="col-1 d-vertical">Secc 1</div>
            <div (click)="navegar('seccion_1')" class="col-1 d-vertical">Secc 2</div>
            <div (click)="navegar('seccion_2')" class="col-1 d-vertical">Secc 3</div>
            <div (click)="navegar('seccion_3')" class="col-1 d-vertical">Secc 4</div>
        </div>
    </div>
</nav>