<nav id="sideNav" class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand text-white">
        <img src="assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> ICommerce
    </a>

    <div class="container-fluid">
        <div class="row w-100 menu">
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1 d-vertical">Misión</div>
            <div class="col-1 d-vertical">Visión</div>
            <div class="col-1 d-vertical">Valores</div>
            <div class="col-1 d-vertical">Servicios</div>
            <div class="col-1 d-vertical">Contacto</div>
        </div>
    </div>
</nav>