.container-page-home {
    height: 100%;
}

.header-image>img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.centered {
    top: 43%;
    left: 50%;
    width: 83vw;
    height: 100%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
}

.titulo-header {
    font-family: 'Patua One', cursive;
    font-size: 3.5rem;
}

.text-header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.wave-section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 56vh;
    transform: translateY(-55%);
    fill: white;
    margin-top: 4rem;
}


/* Cartas */

.cards {
    width: 100vw;
    height: 40vh;
    position: absolute;
}

.card {
    width: 70vw;
    height: 100%;
}

.icono-card {
    font-size: 5rem;
    color: #ffc15e;
}

.card-subtitle {
    font-family: 'Fredoka One', cursive;
}

.card-text {
    font-family: 'Ubuntu', sans-serif;
}

.border-color {
    border-right: 1px solid #e7eaf6;
}


/* FIN Cartas */

.seccion-2 {
    width: 100%;
    margin-top: 16rem;
}

.seccion-2-image {
    width: 30vw;
}

.wave-section-2 {
    overflow: hidden;
    position: absolute;
    width: 100%;
    fill: #183661;
    margin-top: 4rem;
}

.contactos {
    width: 100%;
    background-color: #183661;
}

.img-card {
    width: 13rem;
    height: 13rem;
}

.img-card-size {
    width: 100%;
    height: 100%;
}

.nombre-card {
    font-family: 'Patua One', cursive;
    font-size: 2rem;
    color: #f6f5f5;
}

.texto-card {
    font-family: 'Ubuntu', sans-serif;
    font-size: .8rem;
    color: #e7eaf6;
}

.icon-red-card {
    width: 1.5rem;
}