<div id="pageHome" class="container-page-home">

    <div class="header-image">
        <img src="assets/backgif.gif" class="img-fluid" />
        <div class="centered">
            <div class="row d-vertical h100">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12 titulo-header">
                            <label>Bienvenido</label>
                        </div>
                        <div class="col-12 text-header text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maxime soluta voluptas! Quasi architecto temporibus magni ducimus, pariatur ab quae reprehenderit dignissimos, vel accusamus nisi ipsum amet provident ullam aspernatur!</div>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                    <img src="assets/computer.svg" width="296" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

    <div class="wave-section">

        <div class="cards">
            <div class="row">
                <div class="col-md-12 d-vertical">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow p-1 rounded">
                                <div class="row p-2">
                                    <div class="col-4 border-color">
                                        <div class="row p-1 h100">
                                            <div class="col-12 d-vertical">
                                                <img src="assets/lan.svg" width="100" class="img-fluid" />
                                            </div>
                                            <div class="col-12 p-4">
                                                <hr>
                                                <label class="text-justify">Lorem ipsum dolor sit amet consectetur
                                                    adipisicing elit.
                                                    Architecto,
                                                    iste?</label>
                                                <div class="d-vertical">
                                                    <button type="button" class="btn btn-outline-info btn-sm">Contartar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4 border-color">
                                        <div class="row p-1 h100">
                                            <div class="col-12 d-vertical">
                                                <img src="assets/servers.svg" width="100" class="img-fluid" />
                                            </div>
                                            <div class="col-12 p-4">
                                                <hr>
                                                <label class="text-justify">Lorem ipsum dolor sit amet consectetur
                                                    adipisicing elit.
                                                    Architecto,
                                                    iste?</label>
                                                <div class="d-vertical">
                                                    <button type="button" class="btn btn-outline-info btn-sm">Contartar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="row p-1 h100">
                                            <div class="col-12 d-vertical">
                                                <img src="assets/camera.svg" width="100" class="img-fluid" />
                                            </div>
                                            <div class="col-12 p-4">
                                                <hr>
                                                <label class="text-justify">Lorem ipsum dolor sit amet consectetur
                                                    adipisicing elit.
                                                    Architecto,
                                                    iste?</label>
                                                <div class="d-vertical">
                                                    <button type="button" class="btn btn-outline-info btn-sm">Contartar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg viewBox="0 0 1000 120" aria-hidden="true">
            <path
                d="M1950,15.2101911 L1440,120 L0,120 L0,21.2101911 C100,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z">
            </path>
        </svg>

    </div>

    <div class="seccion-2">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 d-vertical">
                <img src="assets/illustration.jpg" class="img-fluid seccion-2-image" />
            </div>
            <div class="col-6 text-justify p-5">
                <label class="titulo-header">Sección #2</label>
                <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, doloribus odio sapiente culpa
                    voluptatum explicabo sequi error minus, ad temporibus rerum impedit tempore deserunt autem quisquam
                    nemo. Eveniet excepturi repudiandae dolore quis labore quae saepe eius incidunt nulla itaque
                    impedit, rerum maiores non! Velit, itaque, aperiam, id sunt dolorem quia illo quo libero natus nihil
                    ipsa et! Eaque sequi molestiae dignissimos fugit expedita cumque quos est minima deleniti aut,
                    blanditiis mollitia dolores saepe illum enim autem totam rem reiciendis excepturi nesciunt
                    consectetur sint ipsa unde consequatur. Voluptas cumque dolorem nostrum soluta suscipit harum,
                    distinctio tempore officiis excepturi fugiat, voluptatem illum.</label>
                <button type="button" class="btn btn-outline-success">Success</button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="wave-section-2">

        <svg viewBox="0 0 1000 120" aria-hidden="true">
            <path
                d="M1950,15.2101911 L1440,120 L0,120 L0,21.2101911 C100,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z">
            </path>
        </svg>
        <div class="contactos p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <div class="img-card shadow-lg rounded float-right">
                            <img src="assets/woman.jpg" class="img-card-size rounded" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row p-1">
                            <div class="col-12 p-3">
                                <label class="nombre-card">Allison Herrera</label>
                                <hr>
                                <label class="text-muted">Fundadora</label>
                                <label class="texto-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ut suscipit corrupti? Eius eos, neque incidunt officiis corporis assumenda praesentium!</label>
                                <div class="container pt-2">
                                    <div class="row">
                                        <div class="col-3 d-vertical">
                                            <img src="assets/facebook.svg" class="icon-red-card" />
                                        </div>
                                        <div class="col-3 d-vertical">
                                            <img src="assets/youtube.svg" class="icon-red-card" />
                                        </div>
                                        <div class="col-3 d-vertical">
                                            <img src="assets/twitter.svg" class="icon-red-card" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="img-card shadow-lg rounded float-right">
                            <img src="assets/man.jpg" class="img-card-size rounded" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row p-1">
                            <div class="col-12 p-3">
                                <label class="nombre-card">Irwing Herrera</label>
                                <hr>
                                <label class="text-muted">Fundador</label>
                                <label class="texto-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ut suscipit corrupti? Eius eos, neque incidunt officiis corporis assumenda praesentium!</label>
                                <div class="container pt-2">
                                    <div class="row">
                                        <div class="col-3 d-vertical">
                                            <img src="assets/facebook.svg" class="icon-red-card" />
                                        </div>
                                        <div class="col-3 d-vertical">
                                            <img src="assets/youtube.svg" class="icon-red-card" />
                                        </div>
                                        <div class="col-3 d-vertical">
                                            <img src="assets/twitter.svg" class="icon-red-card" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>